#jinja2: lstrip_blocks: "True"
{
        "root": "{{ step_ca_config_dir }}/certs/root_ca.crt",
        "federatedRoots": null,
        "crt": "{{ step_ca_config_dir }}/certs/intermediate_ca.crt",
        "key": "{{ step_ca_config_dir }}/secrets/intermediate_ca_key",
        "address": "{{ step_ca_address }}",
        "insecureAddress": "",
        "dnsNames": [
        {% for dns in step_ca_dns %}
          {% if not loop.last %}
        	"{{ dns }}",
          {% else %}
        	"{{ dns }}"
          {% endif %}
        {% endfor %}
        ],
        "logger": {
                "format": "text"
        },
        "db": {
        {% if step_ca_external_database is defined and step_ca_external_database | length >0 %}
                {{ step_ca_external_database | indent( width=16, first=False) }}
        {% else %}
                "type": "badgerv2",
                "dataSource": "{{ step_ca_config_dir }}/db",
                "badgerFileLoadingMode": ""
        {% endif %}
        },
        "authority": {
                "enableAdmin": true,
                "claims": {
                        {{ step_ca_authority_claims | indent( width=24, first=False) }} 
                }
        },
        "tls": {
                "cipherSuites": [
                        "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256",
                        "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
                ],
                "minVersion": 1.2,
                "maxVersion": 1.3,
                "renegotiation": false
        }
}